    /* Navbar overall styling */
   .navbar {
       background-color: #ffffff; /* Light grey background */
       border-bottom: 1px solid #ddd; /* Light border under the navbar */
   }

    .navbar-brand {
        font-weight: bold;
        color: #FFA500;
    }

    .navbar-nav .nav-link {
        color: #333;
    }

    .navbar-nav .nav-link:hover {
        color: #c27ba0; /
    }

    /* Categories dropdown styling */
    .dropdown-menu {
        border-radius: 0; /* Remove the default border radius for a sharper look */
        border-color: #c27ba0; /* Border color to match the theme */
    }

    .dropdown-item:hover {
        background-color: #c27ba0; /* Change background on hover */
        color: #fff; /* White text on hover */
    }

    /* Sign in/Sign out and Cart icons */
    .bi {
        margin-right: 8px; /* Add some space before the text */
    }

    .bi-cart {
        color: #000000; /* Matching the theme's color */
    }

   .search-bar {
       width: auto; /* Increase the width of the search bar */
       padding: 12px 20px;
       margin: 8px 0;
       margin-left: 15px; /* Add space to the left of the search bar */
       box-sizing: border-box;
       border: 2px solid #000000;
       border-radius: 24px;
       background-color: #ffffff;
       font-size: 16px;
   }

